/statement.csv
/virt
/database.db
/database copy 2.db
/notes
/__pycache__
/testing.py
/testing_upload_data.py
/aStatements
/exe
/test
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.hypothesis/
.pytest_cache/
*.sqlite3
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

